.bottom19,
.v-yage9 {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom19 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--p1);
}
.v-yage9 {
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
  white-space: pre-wrap;
}
.reshot-icon-travel-abroad-uhrq9 {
  position: absolute;
  top: 10px;
  left: 27px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.get-out-and9,
.logo19 {
  position: absolute;
  left: 0;
}
.logo19 {
  top: 0;
  width: 165px;
  height: 59px;
}
.get-out-and9 {
  top: 63px;
  font-size: var(--label-size);
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.logo18 {
  position: absolute;
  height: 36.56%;
  width: 27.86%;
  top: 16.3%;
  right: 131.85%;
  bottom: 47.14%;
  left: -59.71%;
  display: none;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.quick-links19 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.contact-us13,
.explore10,
.home31,
.privacy-policy9,
.quick-links19,
.write-to-us9 {
  position: absolute;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.home31 {
  top: 20.7%;
  color: var(--color-white);
}
.contact-us13,
.explore10,
.privacy-policy9,
.write-to-us9 {
  top: 38.33%;
}
.contact-us13,
.privacy-policy9,
.write-to-us9 {
  top: 55.95%;
}
.contact-us13,
.privacy-policy9 {
  top: 73.57%;
}
.privacy-policy9 {
  top: 91.19%;
}
.quick-links18 {
  position: absolute;
  height: 100%;
  width: 16.18%;
  top: 0;
  right: 83.82%;
  bottom: 0;
  left: 0;
}
.gallery9,
.list-of-tours9,
.popular-destination9,
.travel-on-a9,
.vacation-packages9 {
  position: absolute;
  top: 43.93%;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.gallery9,
.list-of-tours9,
.travel-on-a9,
.vacation-packages9 {
  top: 81.31%;
}
.gallery9,
.list-of-tours9,
.travel-on-a9 {
  top: 118.69%;
  display: none;
}
.gallery9,
.travel-on-a9 {
  top: 156.07%;
}
.travel-on-a9 {
  top: 193.46%;
}
.features18 {
  position: absolute;
  height: 47.14%;
  width: 16.45%;
  top: 0;
  right: 46.61%;
  bottom: 52.86%;
  left: 36.94%;
}
.icons8-facebook-32-19 {
  position: absolute;
  height: 40.51%;
  width: 27.13%;
  top: 52.03%;
  right: 72.87%;
  bottom: 7.47%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icons8-instagram-circle-118,
.icons8-twitter-19 {
  position: absolute;
  height: 37.97%;
  width: 25.4%;
  top: 51.9%;
  right: 38.13%;
  bottom: 10.13%;
  left: 36.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons8-twitter-19 {
  height: 56.96%;
  width: 38.13%;
  top: 43.04%;
  right: 0;
  bottom: 0;
  left: 61.87%;
}
.follow-us9,
.icon9 {
  position: absolute;
  top: 0;
}
.follow-us9 {
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.icon9 {
  height: 34.8%;
  width: 18.78%;
  right: 0;
  bottom: 65.2%;
  left: 81.22%;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.icons8-instagram-circle-119 {
  position: absolute;
  height: 13.22%;
  width: 4.77%;
  top: 38.33%;
  right: 20.23%;
  bottom: 48.46%;
  left: 75%;
  overflow: hidden;
}
.bottomnav9 {
  position: absolute;
  height: 56.89%;
  width: 43.61%;
  top: 21.55%;
  right: 20.63%;
  bottom: 21.55%;
  left: 35.76%;
}
.bottom18 {
  width: 100%;
  position: relative;
  height: 399px;
  text-align: left;
  font-size: var(--label-size);
  color: var(--b6);
  font-family: var(--font-advent-pro);
}
