.bottom23,
.v-yage11 {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom23 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--p1);
}
.v-yage11 {
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
  white-space: pre-wrap;
}
.reshot-icon-travel-abroad-uhrq11 {
  position: absolute;
  top: 10px;
  left: 27px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.get-out-and11,
.logo23 {
  position: absolute;
  left: 0;
}
.logo23 {
  top: 0;
  width: 165px;
  height: 59px;
}
.get-out-and11 {
  top: 63px;
  font-size: var(--label-size);
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.logo22 {
  position: absolute;
  height: 36.56%;
  width: 27.86%;
  top: 16.3%;
  right: 131.85%;
  bottom: 47.14%;
  left: -59.72%;
  display: none;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.quick-links23 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.contact-us15,
.explore12,
.home33,
.privacy-policy11,
.quick-links23,
.write-to-us11 {
  position: absolute;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.home33 {
  top: 20.7%;
  color: var(--color-white);
}
.contact-us15,
.explore12,
.privacy-policy11,
.write-to-us11 {
  top: 38.33%;
}
.contact-us15,
.privacy-policy11,
.write-to-us11 {
  top: 55.95%;
}
.contact-us15,
.privacy-policy11 {
  top: 73.57%;
}
.privacy-policy11 {
  top: 91.19%;
}
.quick-links22 {
  position: absolute;
  height: 100%;
  width: 18.34%;
  top: 0;
  right: 81.66%;
  bottom: 0;
  left: 0;
}
.gallery11,
.list-of-tours11,
.popular-destination11,
.travel-on-a11,
.vacation-packages11 {
  position: absolute;
  top: 43.93%;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.gallery11,
.list-of-tours11,
.travel-on-a11,
.vacation-packages11 {
  top: 81.31%;
}
.gallery11,
.list-of-tours11,
.travel-on-a11 {
  top: 118.69%;
  display: none;
}
.gallery11,
.travel-on-a11 {
  top: 156.07%;
}
.travel-on-a11 {
  top: 193.46%;
}
.features22 {
  position: absolute;
  height: 47.14%;
  width: 18.65%;
  top: 0;
  right: 44.41%;
  bottom: 52.86%;
  left: 36.94%;
}
.icons8-facebook-32-111 {
  position: absolute;
  height: 40.51%;
  width: 27.15%;
  top: 52.03%;
  right: 72.85%;
  bottom: 7.47%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icons8-instagram-circle-122,
.icons8-twitter-111 {
  position: absolute;
  height: 37.97%;
  width: 25.43%;
  top: 51.9%;
  right: 38.15%;
  bottom: 10.13%;
  left: 36.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons8-twitter-111 {
  height: 56.96%;
  width: 38.15%;
  top: 43.04%;
  right: 0;
  bottom: 0;
  left: 61.85%;
}
.follow-us11,
.icon11 {
  position: absolute;
  top: 0;
}
.follow-us11 {
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.icon11 {
  height: 34.8%;
  width: 18.79%;
  right: 0;
  bottom: 65.2%;
  left: 81.21%;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.icons8-instagram-circle-123 {
  position: absolute;
  height: 13.22%;
  width: 4.78%;
  top: 38.33%;
  right: 20.22%;
  bottom: 48.46%;
  left: 75%;
  overflow: hidden;
}
.bottomnav11 {
  position: absolute;
  height: 56.89%;
  width: 43.61%;
  top: 21.55%;
  right: 20.62%;
  bottom: 21.55%;
  left: 35.77%;
}
.bottom22 {
  width: 100%;
  position: relative;
  height: 399px;
  text-align: left;
  font-size: var(--label-size);
  color: var(--b6);
  font-family: var(--font-advent-pro);
}
