.bottom17,
.v-yage8 {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom17 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--p1);
}
.v-yage8 {
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
  white-space: pre-wrap;
}
.reshot-icon-travel-abroad-uhrq8 {
  position: absolute;
  top: 10px;
  left: 27px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.get-out-and8,
.logo17 {
  position: absolute;
  left: 0;
}
.logo17 {
  top: 0;
  width: 165px;
  height: 59px;
}
.get-out-and8 {
  top: 63px;
  font-size: var(--label-size);
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.logo16 {
  position: absolute;
  height: 44.39%;
  width: 27.86%;
  top: 19.79%;
  right: 131.85%;
  bottom: 35.83%;
  left: -59.71%;
  display: none;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.quick-links17 {
  top: 0;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.contact-us12,
.explore9,
.home30,
.privacy-policy8,
.quick-links17,
.write-to-us8 {
  position: absolute;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.home30 {
  top: 25.13%;
  color: var(--color-white);
}
.contact-us12,
.explore9,
.privacy-policy8,
.write-to-us8 {
  top: 46.52%;
}
.contact-us12,
.privacy-policy8,
.write-to-us8 {
  top: 67.91%;
}
.contact-us12,
.privacy-policy8 {
  top: 89.3%;
}
.privacy-policy8 {
  top: 110.7%;
  display: none;
}
.quick-links16 {
  position: absolute;
  height: 100%;
  width: 16.31%;
  top: 0;
  right: 83.69%;
  bottom: 0;
  left: 0;
}
.popular-destination8 {
  position: absolute;
  top: 43.93%;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.vacation-packages8 {
  position: absolute;
  top: 81.31%;
}
.gallery8,
.list-of-tours8,
.vacation-packages8 {
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.list-of-tours8 {
  position: absolute;
  top: 118.69%;
  display: none;
}
.gallery8 {
  top: 156.07%;
}
.features16,
.gallery8,
.travel-on-a8 {
  position: absolute;
  display: none;
}
.travel-on-a8 {
  top: 193.46%;
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.features16 {
  height: 57.22%;
  width: 19.71%;
  top: 0;
  right: 43.35%;
  bottom: 42.78%;
  left: 36.94%;
}
.icons8-facebook-32-18 {
  position: absolute;
  height: 40.51%;
  width: 27.13%;
  top: 52.03%;
  right: 72.87%;
  bottom: 7.47%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icons8-instagram-circle-116,
.icons8-twitter-18 {
  position: absolute;
  height: 37.97%;
  width: 25.4%;
  top: 51.9%;
  right: 38.13%;
  bottom: 10.13%;
  left: 36.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icons8-twitter-18 {
  height: 56.96%;
  width: 38.13%;
  top: 43.04%;
  right: 0;
  bottom: 0;
  left: 61.87%;
}
.follow-us8,
.icon8 {
  position: absolute;
  top: 0;
}
.follow-us8 {
  left: 0;
  letter-spacing: 0.08em;
  line-height: 122.34%;
  font-weight: 500;
}
.icon8 {
  height: 42.25%;
  width: 18.78%;
  right: 0;
  bottom: 57.75%;
  left: 81.22%;
  font-size: var(--font-size-5xl);
  color: var(--b2);
}
.icons8-instagram-circle-117 {
  position: absolute;
  height: 16.04%;
  width: 4.77%;
  top: 46.52%;
  right: 20.23%;
  bottom: 37.43%;
  left: 75%;
  overflow: hidden;
}
.bottomnav8 {
  position: absolute;
  height: 46.87%;
  width: 43.61%;
  top: 21.55%;
  right: 20.63%;
  bottom: 31.58%;
  left: 35.76%;
}
.bottom16 {
  width: 100%;
  position: relative;
  height: 399px;
  text-align: left;
  font-size: var(--label-size);
  color: var(--b6);
  font-family: var(--font-advent-pro);
}
